fastapi[standard]
uvicorn==0.34.0
pydantic==2.10.6
redis==5.2.1
requests==2.32.3
alembic==1.14.1
loguru==0.7.3
python-dotenv==1.0.1
pydantic-settings==2.7.1
watchfiles==1.1.0

# Database
sqlalchemy==2.0.38
psycopg2-binary==2.9.10
asyncpg==0.30.0
pinecone==7.3.0

# Others
natsort==8.4.0
rich==14.0.0
fastnanoid==0.4.3

# LLM-related
instructor[vertexai]
langfuse==3.4.0
json-schema-to-pydantic==0.4.1

# Graph and Nodes
networkx==3.5

# Task Queue
celery==5.5.3
redis==5.2.1
flower==2.0.1
aioredis==2.0.1

# User and Authentication
passlib[bcrypt]
python-jose[cryptography]

# LLM providers
google-genai==1.20.0
openai==1.97.0