services:
  app_blue:
    build:
      context: ..
      dockerfile: docker/Dockerfile.prod.be
    env_file:
      - ../.env
    restart: always
    networks:
      - app_network
      - db_network
      - redis_network
    container_name: flowuni_app_blue
    ports:
      - "5001:5001"

  celery-worker_blue:
    build:
      context: ..
      dockerfile: docker/Dockerfile.prod.be
    env_file:
      - ../.env
    command: >
      sh -c "celery -A src.celery_worker.celery_worker.celery_app worker --loglevel=info --concurrency=4"
    restart: always
    networks:
      - app_network
      - db_network
      - redis_network
    container_name: flowuni_celery_blue

  app_green:
    build:
      context: ..
      dockerfile: docker/Dockerfile.prod.be
    env_file:
      - ../.env
    restart: always
    networks:
      - app_network
      - db_network
      - redis_network
    container_name: flowuni_app_green
    ports:
      - "5002:5001"

  celery-worker_green:
    build:
      context: ..
      dockerfile: docker/Dockerfile.prod.be
    env_file:
      - ../.env
    command: >
      sh -c "celery -A src.celery_worker.celery_worker.celery_app worker --loglevel=info --concurrency=4"
    restart: always
    networks:
      - app_network
      - db_network
      - redis_network
    container_name: flowuni_celery_green
