services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile.dev.be
    volumes:
      - ../backend/src:/app/src
      - ../backend/alembic:/app/alembic
    env_file:
      - .env
    ports:
      - "5001:5001"
    depends_on:
      db_service:
        condition: service_healthy

  db_service:
    image: huanidz/pgvector_pgsearch:pg16
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 3s
      retries: 3
    ports:
      - "5499:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: