version: "3.8"

networks:
  app_network:
    driver: bridge
  db_network:
    external: true
  redis_network:
    external: true

services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile.prod.be
    env_file:
      - ../.env
    # depends_on:
    #   - flowuni-redis
    restart: always
    ports:
      - "5001:5001"
    networks:
      - app_network
      - db_network
      - redis_network

  celery-worker:
    build:
      context: ..
      dockerfile: docker/Dockerfile.prod.be
    env_file:
      - ../.env
    # depends_on:
    #   - flowuni-redis
    command: >
      sh -c "celery -A src.celery_worker.celery_worker.celery_app worker --loglevel=info --concurrency=4"
    restart: always
    networks:
      - app_network
      - db_network
      - redis_network

volumes:
  redis_data:
