version: "3.8"

networks:
  app_network:
    driver: bridge

services:
  # FastAPI Backend
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile.prod.be
    env_file:
      - ../.env
    depends_on:
      - db_service
      - redis-service
    restart: always
    ports:
      - "5001:5001"   # expose cho nginx proxy
    networks:
      - app_network

  # Celery Worker
  celery-worker:
    build:
      context: ..
      dockerfile: docker/Dockerfile.prod.be
    env_file:
      - ../.env
    depends_on:
      - db_service
      - redis-service
    command: >
      sh -c "celery -A src.celery_worker.celery_worker.celery_app worker --loglevel=info --concurrency=4"
    restart: always
    networks:
      - app_network

  # PostgreSQL Database (internal only)
  db_service:
    image: postgres:16
    env_file:
      - ../.env
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - app_network

  # Redis (internal only)
  redis-service:
    image: redis:7
    volumes:
      - ./redis_data:/data
    restart: always
    networks:
      - app_network

volumes:
  postgres_data:
  redis_data:
